/*********************************************************/
/******************BASE STYLES****************************/
html, body {
  position: relative;
  background: #1a1a1a;
	font-family: Helvetica, Arial, Tahoma, sans-serif;;
  color: #fff;
  font-size: 85%;
  overflow: hidden;
}
#wrapper {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	min-width: 1024px;
	min-height: 768px;
	overflow: hidden;
}
.hidden {
  display: none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
 	text-decoration: underline;
}
.hide_text {
  text-indent: -3000em;
}

.clear {
  clear: both;
}
.black {
  color: #000;
}
.green {
  color: #5bab46;
}

/***Firefox dotted line tweak***/
a, button {
  outline: none;
}
:focus, button {
  -moz-outline-style: none;
}
a:active, button:active {
  outline: none;
}

/******JS Form Errors********/
input.error, textarea.error {
  border:2px solid #DB0404;
  margin:0px;
  padding:1px;
}
#signup_form p {
	position: relative;
}
label.error {
  background:#efefef none repeat scroll 0 0;
  color:#DB0404;
  font-size:85%;
  font-weight:bold;
  padding:0;
  position:absolute;
	top: -3px;
	left: -5px;
	width: 300px;
}

/*********************************************************/
/******************HEADER*********************************/

#hd ul, #hd li, #hd a, #top_nav, #icon_nav, #sub_nav, #icon_nav ul, #icon_nav ul li, #icon_nav ul li a, #sub_nav ul, #sub_nav ul li, #sub_nav ul li a {
  position: relative;
  float: left;
}
#hd ul {
  margin-left: 40px;
}
#top_nav {
  background: #000;
  height: 60px;
  width: 100%;
}
#top_nav a {
  display: block;
  height: 20px;
  margin-top: 20px;
  margin-right: 30px;
}
#top_nav a:hover {
  color: #fff;
  text-decoration: none;
}
#top_nav a span {
  color: #000;
}
#top_nav a:hover span, #top_nav a:hover span.active {
  display: inline;
  color: #5bab46;
}

#logo {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 0px;
  right: 0px;
  background: #000 url(../images/logo.png) 0px 0px no-repeat;
}
#logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -3333em;
}
#icon_nav {
  background: #333;
  height: 69px;
  width: 100%;
}
#icon_nav ul {
  width: 847px;
}
#icon_nav ul li {
  width: 120px;
  height: 69px;
  margin-right: 1px;
}
#icon_nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -3333em;
}
#icon_nav ul li#nav1 a {
  background: transparent url(../images/icon_nav.png) 0px 0px no-repeat;
}
#icon_nav ul li#nav1 a:hover, #icon_nav ul li#nav1 a.active {
  background: transparent url(../images/icon_nav.png) 0px -69px no-repeat;
}
#icon_nav ul li#nav2 a {
  background: transparent url(../images/icon_nav.png) -121px 0px no-repeat;
}
#icon_nav ul li#nav2 a:hover, #icon_nav ul li#nav2 a.active {
  background: transparent url(../images/icon_nav.png) -121px -69px no-repeat;
}
#icon_nav ul li#nav3 a {
  background: transparent url(../images/icon_nav.png) -242px 0px no-repeat;
}
#icon_nav ul li#nav3 a:hover, #icon_nav ul li#nav3 a.active {
  background: transparent url(../images/icon_nav.png) -242px -69px no-repeat;
}
#icon_nav ul li#nav4 a {
  background: transparent url(../images/icon_nav.png) -363px 0px no-repeat;
}
#icon_nav ul li#nav4 a:hover, #icon_nav ul li#nav4 a.active {
  background: transparent url(../images/icon_nav.png) -363px -69px no-repeat;
}
#icon_nav ul li#nav5 a {
  background: transparent url(../images/icon_nav.png) -484px 0px no-repeat;
}
#icon_nav ul li#nav5 a:hover, #icon_nav ul li#nav5 a.active {
  background: transparent url(../images/icon_nav.png) -484px -69px no-repeat;
}
#icon_nav ul li#nav6 a {
  background: transparent url(../images/icon_nav.png) -605px 0px no-repeat;
}
#icon_nav ul li#nav6 a:hover, #icon_nav ul li#nav6 a.active {
  background: transparent url(../images/icon_nav.png) -605px -69px no-repeat;
}
#icon_nav ul li#nav7 a {
  background: transparent url(../images/icon_nav.png) -726px 0px no-repeat;
}
#icon_nav ul li#nav7 a:hover, #icon_nav ul li#nav7 a.active {
  background: transparent url(../images/icon_nav.png) -726px -69px no-repeat;
}
#sub_nav {
  height: 29px;
  width: 100%;
}
#sub_nav.green {
   background: transparent url(../images/green_sub_nav_bg.png) 0px 0px repeat-x; 
}
#sub_nav.red {
   background: transparent url(../images/red_sub_nav_bg.png) 0px 0px repeat-x; 
}
#sub_nav.blue {
   background: transparent url(../images/blue_sub_nav_bg.png) 0px 0px repeat-x; 
}
#sub_nav.yellow {
   background: transparent url(../images/yellow_sub_nav_bg.png) 0px 0px repeat-x; 
}
#sub_nav.grey {
   background: transparent url(../images/grey_sub_nav_bg.png) 0px 0px repeat-x; 
}
#sub_nav.white {
   background: transparent url(../images/white_sub_nav_bg.png) 0px 0px repeat-x;    
}
#sub_nav.black {
   background: transparent url(../images/white_sub_nav_bg.png) 0px 0px repeat-x; 
}
#sub_nav.white a, #sub_nav.black a {
  color: #000;
}

#sub_nav ul {
  margin-top: 2px;
}
#sub_nav ul li a {
  display: block;
  margin: 6px 52px 0 0;
}

/*********************************************************/
/******************CONTENT********************************/
#bd, #pages, #elements, #main_content {
  position: relative;
  float: left;
}
#bd {
/*  height: 800px;
  width: 500px;*/
  min-width: 1024px;
  min-height: 768px;
  overflow: hidden;
  margin: 15px 0px 0px 15px;
}
#main_content {
  width: 6704px;
  height: 3605px;
}

/*********************************************************/
/******************PAGES*********************************/

#pages {
  width: 1024px;
  height: 3605px;
  margin-right: 15px;
}
#pages .sub_page {
  width: 1024px;
  height: 610px;

}
/*********************************************************/
/******************ELEMENTS******************************/

#elements {
  width: 5665px;
  height: 3605px;
}
#elements .element {
  position: relative;
  float: left;
  width: 500px;
  height: 500px;
  margin: 15px 15px 0px 0px;
  text-align: left;
}
#elements .element .element_front {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  text-align: left;
  background: #000;
}
#elements .element .element_back {
  background: #fff;
  display: none;
  color: #333;
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}
#elements .element.flipped .element_front h3 {
  background: none repeat scroll 0 0 transparent;
  font-size:20px;
  height:53px;
  margin-top:20px;
  text-align:center;
  text-indent:0;
}
/* ======================================================== */
/* = FLIPPED COLOR STYLES                                 = */
/* ======================================================== */
#elements .element.flipped .element_front h3 span {
  font-weight: bold;
  font-size: 40px;
}
#elements .element.flipped .element_front .content_left p {
  color: #666;
}
#elements .element.green.flipped .element_front h3 {
  color: #5bab46;
}
#elements .element.red.flipped .element_front h3 {
  color: #d93b27;
}
#elements .element.blue.flipped .element_front h3 {
  color: #398dcc;
}
#elements .element.yellow.flipped .element_front h3 {
  color: #f7b219;
}
#elements .element.solid_grey.flipped .element_front h3 {
  color: #000;
} 
#elements .element.green.flipped .content_right a {
  color: #5bab46;
}
#elements .element.green.flipped .content_right a:hover {
  color: #666;
}
#elements .element.red.flipped .content_right a {
  color: #d93b27;
}
#elements .element.red.flipped .content_right a:hover {
  color: #666;
}
#elements .element.blue.flipped .content_right a {
  color: #398dcc;
}
#elements .element.blue.flipped .content_right a:hover {
  color: #666;
}
#elements .element.yellow.flipped .content_right a {
  color: #f7b219;
}
#elements .element.yellow.flipped .content_right a:hover {
  color: #666;
}
#elements .element.solid_grey.flipped .content_right a {
  color: #000;
}
#elements .element.grey.flipped .content_right a:hover {
  color: #666;
}
#elements .element.black.flipped .content_right a {
  color: #fff;
}
#elements .element.black.flipped .content_right a:hover {
  color: #666;
}
#elements .element.green.flipped .content_left {
  border-right: 1px solid #5bab46;
}
#elements .element.red.flipped .content_left {
  border-right: 1px solid #d93b27;
}
#elements .element.blue.flipped .content_left {
  border-right: 1px solid #398dcc;
}
#elements .element.yellow.flipped .content_left {
  border-right: 1px solid #f7b219;
}
#elements .element.solid_grey.flipped .content_left {
  border-right: 1px solid #808080;
}
#elements .element.black.flipped .content_left {
  border-right: 1px solid #fff;
}
#elements .element h2 {
  font-size:200px;
  font-weight:bold;
  margin-bottom:0;
  margin-left:55px;
  margin-top:160px;
  width:445px;
}
#elements .element p {
  font-size: 25px;
  color: #fff;
  margin-left: 66px;
}
#elements .element.green {
  background: #000;
  color: #5bab46;
}
#elements .element.solid_green {
  background: #5bab46;
}
#elements .element.red {
  background: #000;
  color: #d93b27;
}
#elements .element.solid_red {
  background: #d93b27;
}
#elements .element.blue {
  background: #000;
  color: #398dcc;
}
#elements .element.solid_blue {
  background: #398dcc;
}
#elements .element.yellow {
  background: #000;
  color: #f7b219;
}
#elements .element.solid_yellow {
  background: #f7b219;
}
#elements .element.solid_black {
  background: #000;
  color: #fff;
}
#elements .element.solid_black p {
  color: #fff;
}
#elements .element.grey {
  background: #000;
  color: #808080;
}
#elements .element.solid_grey {
  background: #1a1a1a;
}
#elements .element.solid_grey .element_front, #elements #e57 {
  background: #808080;  
}
#elements .element.solid_grey h2 {
  color: #000;
}
#elements .element.white {
  color: #fff;
}
#elements .element.solid_hci_green {
 background: #00853e; 
}
#elements .element.solid_hci_red {
 background: #98012e; 
}
#elements .element.solid_hci_blue {
 background: #009fc3; 
}
#elements .element.solid_hci_yellow {
 background: #e4b43a; 
}
#elements .element.solid_hci_dark_blue {
 background: #00467f; 
}
#elements .element.solid_hci_purple {
 background: #78496a; 
}
.graphic_top {
  position: relative;
  float: left;
  width: 500px;
  height: 250px;
}
.content_bottom {
  position: relative;
  float: left;
  width: 500px;
  height: 250px;
}
.content_bottom h3 {
  position: relative;
  float: left;
  width: 500px;
  height: 73px;
  text-indent: -3333em;
}
.solid_green .content_bottom h3 {
  background: url(../images/green_box_header.png) 0px 0px no-repeat;
}
.solid_red .content_bottom h3 {
  background: url(../images/red_box_header.png) 0px 0px no-repeat;
/*  background: url(../images/green_box_header.png) 0px 0px no-repeat;*/
}
.solid_blue .content_bottom h3 {
  background: url(../images/blue_box_header.png) 0px 0px no-repeat;
/*  background: url(../images/green_box_header.png) 0px 0px no-repeat;*/
}
.solid_yellow .content_bottom h3 {
  background: url(../images/yellow_box_header.png) 0px 0px no-repeat;
/*  background: url(../images/green_box_header.png) 0px 0px no-repeat;*/
}
.solid_grey .content_bottom h3 {
  background: url(../images/grey_box_header.png) 0px 0px no-repeat;
/*  background: url(../images/green_box_header.png) 0px 0px no-repeat;*/
}
.solid_black .content_bottom h3 {
  background: url(../images/black_box_header.png) 0px 0px no-repeat;
/*  background: url(../images/green_box_header.png) 0px 0px no-repeat;*/
}
.content_left {
  position: relative;
  float: left;
  width: 249px;
  height: 162px;
  margin-bottom: 15px;
  border-right: 1px solid #fff;
  padding-left: 40px;
  padding-right: 10px;
}
#elements .content_left p {
  margin: 0px;
  font-size: 13px;
  color: #000;
}
.content_right {
  position: relative;
  float: left;
  width: 180px;
  height: 162px;
  margin-bottom: 15px;
  padding-left: 15px;
}
.content_right ul li {
  margin-bottom: 13px;
}
.content_right ul li a {
  color: #fff;
  text-decoration: none;
}
.content_right ul li a:hover {
  color: #0088cc;
  text-decoration: underline;
}


