#elements #e2 .content_top_section {
	width: 350px;
}
#elements #e6 .content_top_section {
	width: 365px;
}
#elements #e9 .content_top_section {
	width: 365px;
}
#elements #e12 .content_top_section {
	width: 379px;
}
#elements #e13 .content_top_section {
	width: 380px;
}
#elements #e14 .content_top_section {
	width:376px;
}
#elements #e15 .content_top_section {
	width:388px;
}
#elements #e16 .content_top_section {
	width:380px;
}
#elements #e17 .content_top_section {
	width:375px;
}
#elements #e18 .content_top_section {
	width:377px;
}
#elements #e21 .content_top_section {
	width:350px;
}
#elements #e25 .content_top_section {
	width:390px;
}
#elements #e26 .content_top_section {
	width:383px;
}
#elements #e28 .content_top_section {
	width:380px;
}
#elements #e32 .content_top_section {
	width:360px;
}
#elements #e37 .content_top_section {
	width:371px;
}
#elements #e39 .content_top_section {
	width:387px;
}
#elements #e40 .content_top_section {
	width:387px;
}
#elements #e51 .content_top_section {
	width:388px;
}
#elements #e58 .content_top_section {
	width: 383px;
}
#elements #e59 .content_top_section {
	width: 417px;
}
#elements #e60 .content_top_section {
	width: 349px;
}