<div class="element_front">
  <div class="front_icon"></div>
  <h2>Gs</h2>
  <p>Great Service</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/green_gs_icon.png", :alt => "Great Service") %>
  </div>
  <div class="content_bottom">
    <h3><span>Gs</span> Great Service</h3>
      <div class="content_top_section">
        <p>
        Standing behind each HCI payment recommendation are experienced clinicians and account managers to help you navigate the challenges of claim reimbursement. Achieving payment, member and provider harmony is now a reality.
        </p>
      </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "green_video"} %>
      <div class="next_trigger">
        <%= link_to raw("Next Element &raquo;"), "#e14", :class => "next_element_trigger", :parent_box => "#e1" %>
      </div>
  </div>
</div>