<div class="element_front">
  <h2>Gs</h2>
  <p>Great Service</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/green_gs_icon.png", :alt => "Great Service") %>
  </div>
  <div class="content_bottom">
    <h3><span>Gs</span> Great Service</h3>
    <div class="content_left">
      <p>
        Standing behind each HCI payment recommendation are experienced clinicians and account managers to help you navigate the challenges of claim reimbursement. Achieving payment, member and provider harmony is now a reality.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>