<div class="element_front">
  <h2>Uf</h2>
  <p>User Friendly</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/green_uf_icon.png", :alt => "User Friendly") %>
  </div>
  <div class="content_bottom">
    <h3><span>Uf</span> User Friendly</h3>
      <div class="content_top_section">
        <p>
        Every aspect of the Nucleus user experience was designed with you in mind. With endless ways to customize your workflow, you’ll be fighting fraud, waste and abuse faster and more efficiently than you ever thought possible.
        </p>
      </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "green_video"} %>
      <div class="next_trigger">
        <%= link_to raw("Next Element &raquo;"), "#e24", :class => "next_element_trigger", :parent_box => "#e1" %>
      </div>
  </div>
</div>