<div class="element_front">
  <h2>Br</h2>
  <p>Better Results</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/red_br_icon.png", :alt => "Better Results") %>
  </div>
  <div class="content_bottom">
    <h3><span>Br</span> Better Results</h3>
    <div class="content_left">
      <p>
        Nucleus isn’t just another SaaS application, it’s a whole new way of paying claims. Now you have access to industry &mdash; first features that help you get better results. Realize improved claim margins and an ROI as high as 9 to 1.
      </p>
    </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "red_video"} %>
  </div>
</div>