<div class="element_front">
  <h2>Tc</h2>
  <p>Total Customization</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/blue_tc_icon.png", :alt => "Total Customization") %>
  </div>
  <div class="content_bottom">
    <h3><span>Tc</span> Total Customization</h3>
    <div class="content_left">
      <p>
        Nucleus is at your disposal. Nearly every element of the interface is totally customizable, from dashboard widgets and drag-and-drop data fields to user-defined shortcuts and searches; all the elements are there for you.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>