<div class="element_front">
  <h2>Tc</h2>
  <p>Total Customization</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/blue_tc_icon.png", :alt => "Total Customization") %>
  </div>
  <div class="content_bottom">
    <h3><span>Tc</span> Total Customization</h3>
    <div class="content_left">
      <p>
        Nucleus is at your disposal. Nearly every element of the interface is totally customizable, from dashboard widgets and drag-and-drop data fields to user-defined shortcuts and searches; all the elements are there for you.
      </p>
    </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "blue_video"} %>
  </div>
</div>