<div class="element_front">
  <h2>Dci</h2>
  <p>DentalClaim Insight</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/dci_icon.png", :alt => "DentalClaim Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Dci</span> DentalClaim Insight</h3>
    <div class="content_left">
      <p>
        Get the definitive dental claim solution that delivers definitive results. DCI helps you prevent dental FWA with cutting-edge technology and clinical validation. Get rapid, state-compliant professional review from Certified Dental Consultants and start saving.
      </p>
    </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "solid_hci_blue_video"} %>
  </div>
</div>