<div class="element_front">
  <h2>Oci</h2>
  <p>OncologyClaim Insight</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/oci_icon.png", :alt => "OncologyClaim Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Oci</span> OncologyClaim Insight</h3>
    <div class="content_left">
      <p>
        Experience the only oncology claim solution that reduces costs and elevates patient care. OCI combines targeted claim and case identification software. You’ll get evidenced-based treatment plans and support from Oncology Certified Nurses to help you save.
      </p>
    </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "solid_hci_yellow_video"} %>
  </div>
</div>