<div class="element_front">
  <h2>Aa</h2>
  <p>Advanced Analytics</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/green_aa_icon.png", :alt => "Advanced Analytics") %>
  </div>
  <div class="content_bottom">
    <h3><span>Aa</span> Advanced Analytics</h3>
    <div class="content_left">
      <p>
        HCI’s Nucleus platform deploys highly effective next-generation analytics you can’t find anywhere else. With millions of payment triggers in your arsenal, you’ll see a significant boost in your fraud detection rates.
      </p>
    </div>
      <%= render :partial => 'flipped_box_links' %>
  </div>
</div>