<div class="element_front">
  <h2>Ti</h2>
  <p>Total Insight</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/red_ti_icon.png", :alt => "Total Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Ti</span> Total Insight</h3>
    <div class="content_left">
      <p>
        Health care reimbursement is a complex equation. The answers are in the data and Nucleus gives you the tools to find them. See results on the real-time dashboard and access leadership &mdash; level reports to stay ahead of the competition.
      </p>
    </div>
      <%= render :partial => 'flipped_box_links' %>
  </div>
</div>