<div class="element_front">
  <h2>Ti</h2>
  <p>Total Insight</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/red_ti_icon.png", :alt => "Total Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Ti</span> Total Insight</h3>
    <div class="content_left">
      <p>
        Health care reimbursement is a complex equation. The answers are in the data and Nucleus gives you the tools to find them. See results on the real&mdash;time dashboard and access leadership&mdash;level reports to stay ahead of the competition.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>