<div class="element_front">
  <h2>Ap</h2>
  <p>Accelerated Productivity</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/red_ap_icon.png", :alt => "Accelerated Productivity") %>
  </div>
  <div class="content_bottom">
    <h3><span>Ap</span> Accelerated Productivity</h3>
    <div class="content_left">
      <p>
        Give your payment integrity program a shot in the arm. Nucleus helps accelerate user productivity with its powerful tools and advanced technology. You’ll measure gains in cases opened, claims impacted and dollars saved.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>