<div class="element_front">
  <h2>Cn</h2>
  <p>Claim Neutral</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/red_cn_icon.png", :alt => "Claim Neutral") %>
  </div>
  <div class="content_bottom">
    <h3><span>Cn</span> Claim Neutral</h3>
    <div class="content_left">
      <p>
        It’s time to consolidate. Nucleus gives you all&mdash;in&mdash;one versatility on a scalable, claim neutral platform. Now you can stop fraud in physician, facility, dental, and pharmacy claims with a powerful integrated solution.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>