<div class="element_front">
  <h2>Hc</h2>
  <p>Help Center</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/blue_hc_icon.png", :alt => "Help Center") %>
  </div>
  <div class="content_bottom">
    <h3><span>Hc</span> Help Center</h3>
    <div class="content_left">
      <p>
        You’ll never be left in the dark with the Nucleus Help Center. Providing new ways to navigate the user experience, you can chat online with our support team, watch video tutorials and visit HCI U. With Nucleus, help is only a click away.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>