<div class="element_front">
  <h2>Rt</h2>
  <p>Real&mdash;time Processing</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/yellow_rt_icon.png", :alt => "Real-time Processing") %>
  </div>
  <div class="content_bottom">
    <h3><span>Rt</span> Real&mdash;time Processing</h3>
    <div class="content_left">
      <p>
        Time is money, and Nucleus understands that. By processing results in real-time and returning clean claims in seconds, you’ll be in compliance with prompt &mdash; pay laws and detect suspect claims quicker.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>