<div class="element_front">
  <div class="front_icon"></div>
  <h2>Fci</h2>
  <p>FacilityClaim Insight&reg;</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/fci_icon.png", :alt => "FacilityClaim Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Fci</span> FacilityClaim Insight&reg;</h3>
      <div class="content_top_section">
        <p>
        We built the most effective payment integrity application around, so you can avoid the trauma of facility bill overpayment. FCI offers bill negotiation, repricing and forensic analysis of high-dollar cases. You’ll see results unmatched in accuracy and savings.
        </p>
      </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "solution_video"} %>
      <div class="next_trigger">
        <%= link_to raw("Next Element &raquo;"), "#e32", :class => "next_element_trigger", :parent_box => "#e9" %>
      </div>
  </div>
</div>