<div class="element_front">
  <h2>Rxi</h2>
  <p>PharmaClaim Insight</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/rxi_icon.png", :alt => "PharmaClaim Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Rxi</span> PharmaClaim Insight</h3>
      <div class="content_top_section">
        <p>
        Get the latest pharmacy FWA detection solution that offers just the right dose of savings. RxI was created to isolate suspect patient and provider activity while strengthening payment precision. Cutting-edge software and Rx Coding Specialists help you get better results.
        </p>
      </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "solution_video"} %>
      <div class="next_trigger">
        <%= link_to raw("Next Element &raquo;"), "#e43", :class => "next_element_trigger", :parent_box => "#e9" %>
      </div>
  </div>
</div>