<div class="element_front">
  <h2>Hu</h2>
  <p>Happier Users</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/green_aa_icon.png", :alt => "Happier Users") %>
  </div>
  <div class="content_bottom">
    <h3><span>Hu</span> Happier Users</h3>
    <div class="content_left">
      <p>
        The wrong payment integrity software wastes time and energy. Nucleus gives your team powerful views and a friendly, intuitive interface that will turn your claims processing and SIU staff into happier, more efficient users.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>