<div class="element_front">
  <h2>As</h2>
  <p>Absolute Security</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/yellow_as_icon.png", :alt => "Absolute Security") %>
  </div>
  <div class="content_bottom">
    <h3><span>As</span> Absolute Security</h3>
    <div class="content_left">
      <p>
        Rest assured knowing HCI is URAC accredited, and has stood up to the stringent standards of a SAS 70 audit. Our commitment to security, quality and accountability allows you to focus on work, not worrying about your data.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>