<div class="element_front">
  <div class="front_icon"></div>
  <h2>As</h2>
  <p>Absolute Security</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/yellow_as_icon.png", :alt => "Absolute Security") %>
  </div>
  <div class="content_bottom">
    <h3><span>As</span> Absolute Security</h3>      
      <div class="content_top_section">
        <p>
        Rest assured knowing Verisk Health is URAC accredited, and has stood up to the stringent standards of a SAS 70 audit. Our commitment to security, quality and accountability allows you to focus on work, not worrying about your data.
        </p>
      </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "yellow_video"} %>
      <div class="next_trigger">
        <%= link_to raw("Next Element &raquo;"), "#e41", :class => "next_element_trigger", :parent_box => "#e50" %>
      </div>
  </div>
</div>