<div class="element_front">
  <h2>Es</h2>
  <p>Easily Scalable</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/yellow_es_icon.png", :alt => "Easily Scalable") %>
  </div>
  <div class="content_bottom">
    <h3><span>Es</span> Easily Scalable</h3>
    <div class="content_left">
      <p>
        No growing pains here. Nucleus allows you to scale with ease by adding new users, lines of business and service modules. Payment integrity software should not only allow you to grow, but also grow with you.
      </p>
    </div>
    <div class="content_right">
      <ul>
        <li>
          <%= link_to raw("Watch Video &raquo;"), "#video" %>
        </li>
        <li>
          <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
        </li>
        <li>
          <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>