<div class="element_front">
  <h2>Cti</h2>
  <p>ClaimTracker Insight</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/cti_icon.png", :alt => "ClaimTracker Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Cti</span> ClaimTracker Insight</h3>
      <div class="content_top_section">
        <p>
        We’ve taken a complex problem and simplified it. CTI gives you feature rich case tracking that’s seamlessly integrated with the industry’s most advanced payment integrity platform. Easily follow cases from start to finish and simplify your case investigation workflow.
        </p>
      </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "solution_video"} %>
      <div class="next_trigger">
        <%= link_to raw("Next Element &raquo;"), "#e63", :class => "next_element_trigger", :parent_box => "#e9" %>
      </div>
  </div>
</div>