<div class="element_front">
  <h2>Pci</h2>
  <p>PhysiciansClaim Insight</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/pci_icon.png", :alt => "PhysiciansClaim Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Pci</span> PhysiciansClaim Insight</h3>
    <div class="content_left">
      <p>
        Meet the ultimate professional claim solution. PCI was designed to help you maximize claims payment accuracy, prevent FWA and reduce professional claims costs. And because of our advanced software, experienced clinicians and seasoned investigators, it does just that.
      </p>
    </div>
      <%= render :partial => 'flipped_box_links' %>
  </div>
</div>