<div class="element_front">
  <div class="front_icon"></div>
  <h2>Pci</h2>
  <p>PhysicianClaim Insight&reg;</p>
</div>
<div class="element_back">
  <div class="graphic_top">
    <%= image_tag("/images/pci_icon.png", :alt => "PhysiciansClaim Insight") %>
  </div>
  <div class="content_bottom">
    <h3><span>Pci</span> PhysicianClaim Insight&reg;</h3>      
      <div class="content_top_section">
        <p>
        Meet the ultimate professional claim solution. PCI was designed to help you maximize claims payment accuracy, prevent FWA and reduce professional claims costs. And because of our advanced software, experienced clinicians and seasoned investigators, it does just that.
        </p>
      </div>
      <%= render :partial => 'flipped_box_links', :locals => {:element_type => "solution_video"} %>
      <div class="next_trigger">
        <%= link_to raw("Next Element &raquo;"), "#e20", :class => "next_element_trigger", :parent_box => "#e9" %>
      </div>
  </div>
</div>