<div class="content_right no_propogate">
  <ul>
    <li class="no_trigger">
      <%= link_to raw("Watch Video &raquo;"), "#video" %>
    </li>
    <li class="no_trigger">
      <%= link_to raw("Request a demo &raquo;"), "#contact_form" %>
    </li>
    <li>
      <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com", :target => "_blank" %>
    </li>
  </ul>
</div>