<div class="content_bottom_section">
  <ul>
    <li class="no_trigger">
      <%= link_to raw("Watch Video"), "/videos/meet_nucleus.f4v", :class => "video_trigger no_prop", :video_panel => "#{element_type}", :rel => "div.overlay" %>
    </li>
    <li class="no_trigger">
      <%= link_to raw("Request a demo"), "#contact_form", :class => "demo no_prop" %>
    </li>
    <li>
      <%= link_to raw("Visit hcinsight.com"), "http://www.hcinsight.com", :target => "_blank" %>
    </li>
  </ul>
</div>