<div class="content_right no_propogate">
  <ul>
    <li class="no_trigger">
      <%= link_to raw("Watch Video &raquo;"), "#video", :class => "video_trigger no_prop", :video_panel => "#{element_type}" %>
    </li>
    <li class="no_trigger">
      <%= link_to raw("Request a demo &raquo;"), "#contact_form", :class => "no_prop" %>
    </li>
    <li>
      <%= link_to raw("Visit HealthCare Insight &raquo;"), "http://www.hcinsight.com", :target => "_blank" %>
    </li>
  </ul>
</div>