<div class="content_bottom_section">
  <ul class="box_triggers">
    <li class="no_trigger">
      <%= link_to raw("Watch Video"),
        box_video(element_type), 
        :class => "video_trigger no_prop", 
        :video_panel => "#{element_type}", 
        :rel => "div.overlay"
       %>
    </li>
    <li class="no_trigger">
      <%= link_to raw("Request a demo"), "#contact_form", :class => "demo no_prop" %>
    </li>
    <li>
      <%= link_to raw("Visit Verisk Health"), "http://www.veriskhealth.com", :target => "_blank" %>
    </li>
  </ul>
</div>