      <div class="graphic_top">
        <%= image_tag("/images/grey_box_icon.png", :alt => "Core Elements") %>
      </div>
      <div class="content_bottom">
        <h3>Core Elements: [Pay] in your element.</h3>
        <div class="content_top_section">
          <p>
            Fight fraud on two fronts. With Nucleus you get the world’s foremost payment integrity application and HCI’s signature clinical validation process. Working together in perfect harmony.
          </p>
        </div>
        <div class="content_bottom_section">
          <ul>
            <li class="black">Explore Elements</li>
            <li>
              <%= link_to raw("Fraud &raquo;"), "#e58", :parent_box => "#e57" %>
            </li>
            <li>
              <%= link_to raw("Waste &raquo;"), "#e59", :parent_box => "#e57" %>
            </li>
            <li>
              <%= link_to raw("Abuse &raquo;"), "#e60", :parent_box => "#e57" %>
            </li>
          </ul>
        </div>
      </div>