    <h2>Home Page</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo risus sodales nunc feugiat in gravida purus porttitor. Nullam nec est nunc, nec malesuada purus. Suspendisse at leo arcu. Maecenas nec commodo est. Ut a nibh feugiat lectus ultrices volutpat quis et nibh. Maecenas ac velit et quam aliquam egestas sed ut felis. Donec tellus mauris, suscipit ut rhoncus sit amet, varius sed augue!
    </p>
      <%= image_tag("", :alt => "") %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo risus sodales nunc feugiat in gravida purus porttitor. Nullam nec est nunc, nec malesuada purus. Suspendisse at leo arcu. Maecenas nec commodo est. Ut a nibh feugiat lectus ultrices volutpat quis et nibh. Maecenas ac velit et quam aliquam egestas sed ut felis. Donec tellus mauris, suscipit ut rhoncus sit amet, varius sed augue!
      </p>
  </div>