<div id="me34" class="micro_element">

</div>
<div id="me35" class="micro_element top_border">

</div>
<div id="me36" class="micro_element micro_element_box solid_red">
  
</div>

<div id="me37" class="micro_element micro_element_box red">
  <h3>Hu</h3>
</div>
<div id="me38" class="micro_element left_top_border">

</div>
<div id="me39" class="micro_element micro_element_box yellow">
  <h3>Sa</h3>
</div>

<div id="me40" class="micro_element micro_element_box yellow">
  <h3>As</h3>
</div>

<div id="me41" class="micro_element micro_element_box no-right yellow">
  <h3>Es</h3>
</div>

<div id="me42" class="micro_element left_top_border">

</div>

<div id="me43" class="micro_element micro_element_box no-right solid_hci_purple">
  <h3>Cti</h3>
</div>

<div id="me44" class="micro_element left_border">

</div>