<div id="me12" class="micro_element micro_element_box green">
  <h3>Ps</h3>
</div>

<div id="me13" class="micro_element micro_element_box green">
  <h3>Gs</h3>
</div>

<div id="me14" class="micro_element micro_element_box green">
 <h3>Uf</h3>
</div>

<div id="me15" class="micro_element micro_element_box red">
  <h3>Br</h3>
</div>

<div id="me16" class="micro_element micro_element_box blue">
  <h3>Ws</h3>
</div>

<div id="me17" class="micro_element micro_element_box blue">
  <h3>Tc</h3>
</div>

<div id="me18" class="micro_element micro_element_box blue">
  <h3>Id</h3>
</div>

<div id="me19" class="micro_element left_border">

</div>
<div id="me20" class="micro_element micro_element_box solid_hci_blue">
  <h3>Dci</h3>
</div>
<div id="me21" class="micro_element micro_element_box no-right solid_hci_yellow">
  <h3>Oci</h3>
</div>
<div id="me22" class="micro_element left_border">

</div>