<div id="me1" class="micro_element micro_element_box solid_green">
  
</div>

<div id="me2" class="micro_element micro_element_box green">
  <h3>Ct</h3>
</div>

<div id="me3" class="micro_element left_border">

</div>
<div id="me4" class="micro_element">

</div>

<div id="me5" class="micro_element micro_element_box solid_blue">
  
</div>

<div id="me6" class="micro_element micro_element_box blue">
  <h3>Sm</h3>
</div>
<div id="me7" class="micro_element left_border">

</div>
<div id="me8" class="micro_element">

</div>
<div id="me9" class="micro_element micro_element_box no-right solid_hci_green">
  <h3>Pci</h3>
</div>
<div id="me10" class="micro_element left_border">

</div>
<div id="me11" class="micro_element">

</div>