<div id="me45" class="micro_element">

</div>
<div id="me46" class="micro_element">

</div>
<div id="me47" class="micro_element top_border">

</div>
<div id="me48" class="micro_element top_border_full">

</div>
<div id="me49" class="micro_element empty_left">

</div>
<div id="me50" class="micro_element micro_element_box solid_yellow" title="Technology">
 <%= link_to "Technology", "#e50", :class => "micro_link technology color_box" %>
</div>

<div id="me51" class="micro_element micro_element_box yellow" title="Seamless Integration">
  <h3>Si</h3>
  <%= link_to "Si", "#e51", :class => "micro_link", :parent_box => "#e50" %>
</div>
<div id="me52" class="micro_element left_top_border_full">

</div>
<div id="me53" class="micro_element empty_left">

</div>
<div id="me54" class="micro_element top_border_full">

</div>
<div id="me55" class="micro_element empty_left">

</div>