    <div id="e45" class="element">
      
    </div>
    <div id="e46" class="element">
      
    </div>
    <div id="e47" class="element">
      
    </div>
    <div id="e48" class="element">
      
    </div>
    <div id="e49" class="element">
      
    </div>
    <div id="e50" class="element solid_yellow">
      <%= render :partial => 'yellow_box_content' %>
    </div>
    
    <div id="e51" class="element yellow">
      <%= render :partial => 'e51_panels' %>
    </div>
    <div id="e52" class="element">
      
    </div>
    <div id="e53" class="element">
      
    </div>
    <div id="e54" class="element">
      
    </div>
    <div id="e55" class="element">
      
    </div>