    <div id="e12" class="element green">
      <h2>Ps</h2>
      <p>Prepayment Solutions</p>
    </div>
    <div id="e13" class="element green">
      <h2>Gs</h2>
      <p>Great Service</p>
    </div>
    <div id="e14" class="element green">
      <h2>Uf</h2>
      <p>User Friendly</p>
    </div>
    <div id="e15" class="element red">
      <h2>Br</h2>
      <p>Better Results</p>
    </div>
    <div id="e16" class="element blue">
      <h2>Ws</h2>
      <p>Work Smarter</p>
    </div>
    <div id="e17" class="element blue">
      <h2>Ts</h2>
      <p>Total Customization</p>
    </div>
    <div id="e18" class="element blue">
      <h2>Id</h2>
      <p>Idea-driven</p>
    </div>
    <div id="e19" class="element">
      
    </div>
    <div id="e20" class="element solid_hci_blue">
      <h2>Dci</h2>
      <p>DentalClaim Insight&reg;</p>
    </div>
    <div id="e21" class="element solid_hci_yellow">
      <h2>Oci</h2>
      <p>OncologyClaim Insight&reg;</p>
    </div>
    <div id="e22" class="element">
      
    </div>