<title>Elements of Nucleus | Payment Integrity Application </title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="Nucleus is the health care industries best fraud, abuse and waste prevention software on the market.">
<meta name="keywords" content="fraud, fraud prevention, health care fraud, SaaS software, healthcare fraud prevention software">
<meta name="copyright" content="Copyright 2010 HealthCare Insight">
<meta name="title" CONTENT="Nucleus">
<link ref="shortcut icon" href="favicon.ico" type="image/ico" />

<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'reset-fonts-grids', 'application' %>

<!--[if IE ]>
  <link rel="stylesheet" type="text/css" href="../stylesheets/IE.css" />
<![endif]-->

<% if ipad %>
  <%= stylesheet_link_tag "ipad" %>
<% end %>

<%= render :partial => "layouts/gascript" %>